html {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  font-size: 14px;
  color: rgba(0, 0, 0, .87);
  padding: 25px;
}

h1 {
  font-size: 30px;
}

*, *:before, *:after {
  box-sizing: border-box;
}
